<div class= "container">
  <header>
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'contact'}}Contact us{{/link-to}}
      {{#link-to 'about'}}About us{{/link-to}}
      <hr>
      <h1>Demons You Haunt Me, Demon I Adore Thee</h1>
  </header>
    {{outlet}}
  <footer>
  </footer>
</div>
