<p>This blog is brought to you by Ion Bomb, Andreas Kablaam, and Meredeath Acornfield</p>

<p>Contact us if you dare!</p>


<p>
  IA, AK, MA Inc.
  666 North Infernal Regions St.
  Torment, Hades 66666
</p>

<p>baphometstaffing@gmail.com</p>
