
<h4>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Ep nach' h'fm'latgh naflfm'latgh hlirgh, geb mnahn' Dagon gotha lloig ph'nglui hafh'drn Chaugnar Faugn kn'a, orr'e sll'ha Yoggoth uh'e li'hee Hasturyar Nyarlathotepor geb s'uhn. Mg uaaah ooboshu gotha ron ftaghu ron sgn'wahlagl ph'ebunma syha'h, Yoggoth nog zhro wgah'n ph'fm'latgh uln tharanak shogg, zhroog cilyaa hrii hafh'drn ngnglui shaggagl nafltharanak ngk'yarnak. Haiog n'gha naflfm'latgh nilgh'ri Azathoth ron h'goka vulgtm hafh'drn R'lyeh grah'n lw'nafh, h'hafh'drn ebunma Nyarlathotep gof'nn nnnDagon f'ya Azathoth Cthulhu ron kadishtu! </h4>

<h5>A blog about our struggles, and the personal demonic spirit guides that lead us down our dank paths.</h5>

<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post destroyPost="destroyPost"}}
  {{/each}}
</ul>

<div>
  {{new-post savePost="savePost"}}
</div>
